    
    
        <footer>
            <div class="container">
                <div class="text-center">
                    <p>YelpCamp: a project by <a href="https://github.com/rachel2011">Rachel Zhou</a>, 2017</p>
                </div>
            </div>
        </footer>
    </body>
</html>